#cabecalho_menu{
    width: 44px;
    height: 44px;
    margin-left: 1em;
    background-image: url(../img/Menu.svg);
    display: inline-block;
}
.container_botao:checked ~ .cabecalho_rotulo > #cabecalho_menu{
    background-image: url(../img/menu_hamburguer_light.svg);
}
.container_botao:checked ~ .cabecalho_rotulo{
    background: var(--azul_gradiante);
    padding: 0.9em 0;
    padding-right: 1.5em;
}
#cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}
#container{
    display: flex;
    align-items: center;
    gap: 1em;
}
#container_imagem{
    padding: 1em;
}
#lista_botao{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container_botao:checked:checked~#lista_botao{
    display: block;
}
#lista_botao_principal,
#lista_botao_item{
    padding: 1em;
    background-color: var(--branco);
}
#lista_botao_principal{
    color: var(--laranja);
    font-weight: 700;
}
#lista_botao_link{
    color: var(--azul_gradiante);
    text-decoration: none;
    text-transform: uppercase;
}
.container_botao{
    display: none;
}
#cabecalho_titulo{
    display: none;
}
#opcoes{
    display: none;
}
#container_texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    #container{
        padding-right: 2em;
    }
    #cabecalho_titulo{
        font-size: 30px;
        font-family: var(--fonte_secundaria);
        font-weight: 400;
        display: block;
    }
    #cabecalho_titulo_primeiro{
        font-weight: 700;
    }
    #container_coracao{
        display: none;
    }
    #cabecalho_menu{
        display: none;
    }
    #opcoes{
        display: flex;
        align-items: center;
    }
    #opcoes_menu{
        padding: 0 1em;
        text-transform: uppercase;
    }
    #opcoes_menu_botao{
        text-decoration: none;
        color: var(--preto);
    }
    .opcoes_item{
        display: none;
    }
    .opcoes_item:checked ~ #lista_botao{
        display: block;
        width: auto;
    }
    .opcoes_item:checked ~ .opcoes_rotulo > #opcoes_menu{
        background: var(--azul_gradiante);
        color: var(--branco);
        padding: 1.85em 1em;
    }
    #lista_botao_item:hover{
        background: var(--azul_gradiante);
        color: var(--branco);
    }

}
@media screen and (min-width: 1728px) {
    #cabecalho_titulo{
        padding-right: 1em;
    }
    #container{
        padding: 0 4em;
    }
    #container_icone{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    #opcoes{
        margin-right: auto;
    }
    #container_texto{
        display: block;
    }
}